---
layout: default
---

<h1>Project Log</h1>

<h2>Experiments</h2>
<!-- Chronological order of experiments run/results of various tests -->
{% assign experiments = site.posts | where:"category","experiment" | reverse %}
<ol>
	{% for post in experiments %}
	<li>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ol>

<h2>Meetings</h2>
<!-- reverse Chronological order listing of meeting notes -->
{% assign meetings = site.posts | where:"category","meeting" %}
<ul>
	{% for post in meetings %}
	<li>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>